{% extends "base.html" %}

{% block content %}

<!-- Page Content -->
<div class="container">

  <h3 class="font-weight-light text-center mt-1 mb-0">Your posts</h3>

  <hr class="mt-2 mb-3">

        {% for image in images %}
            <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ profile_pic }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ image.username }}</a>
                  <small class="text-muted">{{ image.date }}</small>
                </div>
                  <a href="{{ url_for('image', image_id=image._id) }}"><img class="img-thumbnail" src="{{ url_for('show_image', filename=image.filename) }}"  alt=""></a>
                  <p class="article-content">{{ image.caption }}</p>
              </div>
            </article>
        {% endfor %}

</div>

{% endblock %}