{% extends "base.html" %}
{% block content %}

<div class="container page-form">

    <form id="form-sign-in" action="/auth/register" method="post">


        <h1 class="font-weight-light text-center mt-4 mb-0">Please sign up</h1>

        <hr class="mt-2 mb-5">

        <div class="form-group">

            <div class="form-group row">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="username" required autofocus>
            </div>

            <p>{{ msg }}</p>

            <div class="form-group row">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="password" required>
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>

    </form>
</div>
{% endblock %}