{% extends "base.html" %}

{% block content %}
<div class="content-section">

    <form method="POST" action="/upload" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom md-4">{{ legend }}</legend>
            <div class="form-group">

                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}

                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span> <br />
                    {% endfor %}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.caption.label(class="form-control-label") }}
                {% if form.caption.errors %}
                    {{ form.caption(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.caption.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.caption(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<script>

    $("#image").change(function(){

        var input = document.getElementById('image');

        for (var i=0; i<input.files.length; i++)
        {
            //for 'example.jpg' this will result a 'jpg'
            var extension=  input.files[i].name.substring(input.files[i].name.lastIndexOf('.') + 1 ).toLowerCase();

            if ((extension == 'jpg') || (extension == 'png') || (extension == 'jpeg'))
            {
                $("#msg").text("Files accepted.")
            }
            else
            {
                $("#msg").text("ImageService does not support the file types you tried to upload.")
                document.getElementById('image').value = "";
            }
        }
    } );

</script>

{% endblock %}